body{
    padding: 0px;
    margin: 0px;
}
/* Removed padding & margin */
*{
    margin: 0px;
    padding: 0px;
}

/* section.sec1 Starts here */
section.sec1{
    width: 99.9%;
    height: 99.7vh;
    border: 1px solid red;
    background-image: url("img/educative_duddlli-removebg-preview\ 1.png");
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* muted here */
    display: none;
}
/* section.sec1>.certify-logo Starts here */
section.sec1>.certify-logo{
    background-image: url("img/Certify-logo.png");
    width: 267px;
    height: 268px;
    margin: 0px;
}
/* section.sec1>.certify-logo Ends here */

/* section.sec1>.certify-welcome-text>p Starts here */
section.sec1>.certify-welcome-text>p{
    font-size: 64px;
    font-family: 'Ms Madi', cursive;
}
/* section.sec1>.certify-welcome-text>p Ends here */

/* section.sec1>button Starts Here */
section.sec1>button{
    font-size: 20px;
    height: 50px;
    width: 124px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 50px;
    bottom: 15%;
    background-color: transparent;
    border: 1px solid black;
    
}
/* section.sec1>button Ends Here */

/* section.sec1 Ends here */

/* section.sec2 starts here */
section.sec2{
    display: flex;
    flex-flow: row nowrap;

}

/* section.sec2>.col-1 starts here */
section.sec2>.col-1{
    background-color: #D9D9D9;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    
}
/* dashboard Logo */
section.sec2>.col-1>.logo-sec{
    /* border: 1px solid red; */
    border-bottom: 1px solid black;
    height: 65px;
    background-image: url("img/certify-logo-c.png");
    background-repeat: no-repeat;
    background-position: center;
}

section.sec2>.col-1>div.personalize-zone{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* justify-content: space-around; */
    gap: 20px;
    height: 85%;
    border: 1px solid blue;
    padding: 20px 0px 10px 0px;
}

/* all p tag should have this style */
section.sec2>.col-1 p{
    font-size: 19px;
    font-weight: 400;
    
}
section.sec2>.col-1>div.personalize-zone>.btn-group{
    height: 60px;
    border: 1px solid blue;
}
section.sec2>.col-1>div.personalize-zone>.btn-group>button{
    height: 44px;
    width: 110px;
    background-color: transparent;
    border: none;
    font-size: 19px;
    font-weight: 400;
}
section.sec2>.col-1>div.personalize-zone>.btn-group>button:first-child{
    border: 1px solid black;
    
}

section.sec2>.col-1>div.personalize-zone>.media-inputs{
    border: 1px solid blue;
    height: 87%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

/* section.sec2>.col-1>div.personalize-zone> */
/* section.sec2>.col-1 ends here */
section.sec2>.col-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99.6vh;
    width: 80%;
    border: 1px solid rgb(41, 148, 31);
}
section.sec2>.col-2>.display-certificate{
    border: 1px solid blue;
    height: 85%;
    width: 85%;
}