body{
    padding: 0px;
    margin: 0px;
}
/* Removed padding & margin */
*{
    margin: 0px;
    padding: 0px;
}

/* section.sec1 Starts here */
section.sec1{
    width: 99.9%;
    height: 99.7vh;
    border: 1px solid red;
    background-image: url("img/educative_duddlli-removebg-preview\ 1.png");
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* muted here */
    display: none;
}
/* section.sec1>.certify-logo Starts here */
section.sec1>.certify-logo{
    background-image: url("img/Certify-logo.png");
    width: 267px;
    height: 268px;
    margin: 0px;
}
/* section.sec1>.certify-logo Ends here */

/* section.sec1>.certify-welcome-text>p Starts here */
section.sec1>.certify-welcome-text>p{
    font-size: 64px;
    font-family: 'Ms Madi', cursive;
}
/* section.sec1>.certify-welcome-text>p Ends here */

/* section.sec1>button Starts Here */
section.sec1>button{
    font-size: 20px;
    height: 50px;
    width: 124px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 50px;
    bottom: 15%;
    background-color: transparent;
    border: 1px solid black;
    
}
/* section.sec1>button Ends Here */

/* section.sec1 Ends here */

/* section.sec2 starts here */
section.sec2{
    display: flex;
    flex-flow: row nowrap;

}

/* section.sec2>.col-1 starts here */
section.sec2>.col-1{
    background-color: #D9D9D9;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: space-between; */
    
}
/* dashboard Logo */
section.sec2>.col-1>.logo-sec{
    /* border: 1px solid red; */
    border-bottom: 1px solid black;
    height: 65px;
    background-image: url("img/certify-logo-c.png");
    background-repeat: no-repeat;
    background-position: center;
}

section.sec2>.col-1>div.personalize-zone{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    height: 89%;
    border: 1px solid blue;
    padding: 20px 0px 10px 0px;
}

/* all p tag should have this style */
section.sec2>.col-1 p{
    font-size: 19px;
    font-weight: 400;
    
}
section.sec2>.col-1>div.personalize-zone>.btn-group{
    height: 60px;
    border: 1px solid blue;
}
section.sec2>.col-1>div.personalize-zone>.btn-group>button{
    height: 44px;
    width: 110px;
    background-color: transparent;
    border: none;
    font-size: 19px;
    font-weight: 400;
}
section.sec2>.col-1>div.personalize-zone>.btn-group>button:first-child{
    border: 1px solid black;
    
}

/* section.sec2>.col-1>div.personalize-zone>.media-inputs start here */
section.sec2>.col-1>div.personalize-zone>.media-inputs{
    border: 1px solid rgb(255, 136, 0);
    height: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap:10px;
}
/* section.sec2>.col-1>div.personalize-zone>.media-inputs ends here */

/* .wrapper-1 starts here */
section.sec2>.col-1>div.personalize-zone>.media-inputs>.wrapper-1{
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: center;
    align-items: center; */
    /* width: 100%; */
    height: 100px;
    border: 1px solid rgb(255, 0, 140);

}

section.sec2>.col-1>div.personalize-zone>.media-inputs>.wrapper-1>div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 115, 0);

}
/* .wrapper-1 ends here */

/* wrapper-2 (Certificate Background) starts here */
section.sec2>.col-1>div.personalize-zone>.media-inputs>.wrapper-2{
    margin: 0px;
    /* height: 200px; */
}
    section.sec2>.col-1>div.personalize-zone>.media-inputs>.wrapper-2>div.select-cert-style{
        /* height: 80%; */
        border: 1px solid rgb(168, 18, 18);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
        align-items: center;
        overflow-y: scroll;
        padding: 10px 0px;
    }
    section.sec2>.col-1>div.personalize-zone>.media-inputs>.wrapper-2>div.select-cert-style>div{
        height: 120px;
        width: 150px;
        background-color: aqua;
        border: 1px solid white;
    }
    /* wrapper-2 ends here */
    
    /* wrapper-3 starts here */
    section.sec2>.col-1>div.personalize-zone>.media-inputs>.wrapper-3{
        /* height: 30%; */
        border: 1px solid rgb(41, 148, 31);

} 
section.sec2>.col-1>div.personalize-zone>.media-inputs>.wrapper-3>div{
    height: 150px;
    border: 1px solid gold;
    margin: 0px;
}
/* wrapper-3 ends here */

/* Next button starts here */
.next-section{
    font-size: 20px;
    height: 50px;
    width: 124px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    border: 1px solid black;
    
}
/* Next button ends here */

/* section.sec2>.col-1>div.personalize-zone> */
/* section.sec2>.col-1 ends here */
section.sec2>.col-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99.6vh;
    width: 80%;
    border: 1px solid rgb(41, 148, 31);
}
section.sec2>.col-2>.display-certificate{
    border: 1px solid blue;
    height: 85%;
    width: 85%;
    background-image: url("img/demo-cert/cert2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
